// Font Family Variables
$font-Ubuntu: ubuntu;

// Color Variables
$black: #000000;
$bShColor: #00000033;
$formTitle: #344857;
$subTitle: #858585;
$label: #abaec5;
$input: #11153b;
$success: #39be12;
$inputBorder: #75818a;
$inputBorder2: #e8ebf3;
$labelShrink: rgba(0, 0, 0, 0.6);
$eyeIcon: #c9c9c94d;
$tooltipTitle: #171717;
$tooltipSvg: #0fef00;
$tooltipSvg2: #7d7d7d;
$tooltipText: #4a4a4a;
$tooltipText2: #7d7d7d;
$langBg: #3a4548;
$actionInput: #f1f4f9;
$formTitleDark: #092133;
$voidBtn: #7b7b7b;
$border2: #70707080;
$billingDetailsBg: #F7F8FA;
$gray: #00000029;
$grey: #344857;
$grey2: #3a4548;
$grey3: #55595c;
$grey4: #888;
$grey5: #555;
$white: #ffffff;
$white2: #f1f1f1;
$whiteLight: #f7f7f9;
$whiteDull: #ced4da;
$orange: #f57c52;
$red: #d63548;
$pink: #da291c33;
$gradient-1: transparent linear-gradient(297deg, #f57c52 0%, #d63548 100%) 0% 0%
  no-repeat padding-box;


// Font size variables
$xs-text: 0.75rem;
$sm-text: 14px;
$md-text: 1rem;
$lg-text: 36px;
$xl-text: 1.5rem;
$xxl-text: 2rem;
