.dashboard__wrapper {
    width: 100%;
    // height: 100vh;
    // display: grid;
    // grid-template-areas:
    //     'dashboardNavbar dashboardNavbar dashboardNavbar'
    //     'dashboardSidebar dashboardContent dashboardContent'
    //     'dashboardSidebar dashboardContent dashboardContent';
    background: #f7f8fa;
    // overflow: hidden;
}

#checkbox-blank,
#checkbox-blank-customer,
#checkbox-blank-entity,
#checkbox-blank-po,
#checkbox-blank-status,
#checkbox-blank-invoice-amount,
#checkbox-blank-invoice-issue,
#checkbox-blank-due-date {
    display: none;
}

.language__selector {

    .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
    .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.64px;
        color: #344857 !important;
        text-transform: capitalize;
        opacity: 1;
    }

    .css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
    svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
        color: #344857 !important;
        font-size: 16px;
    }
}

.dashboard__navbar {
    width: 100%;
    height: 90px;
    grid-area: dashboardNavbar;
    background: white;
    padding: 0px 0px 0px 50px;

    .dashboard__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 48px;
        row-gap: 16px;

        .logo {
            width: 106px;

            img {
                width: 100%;
            }
        }

        .right__elements {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 60px;

            .right__elementsItem {

                @media only screen and (max-width:1400px) {
                    form {
                        width: 300px;
                    }
                }
            }

            .search__group {
                .search__form {
                    background: #f7f8fa;
                    border: 1px solid #efefef;
                    border-radius: 100px;
                    box-shadow: none !important;
                    padding: 0px 15px;
                    opacity: 1;

                    input {
                        &::placeholder {
                            text-align: left;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: -0.56px;
                            color: #344857;
                            opacity: 0.5;
                        }
                    }
                }
            }

            .profile__setting {
                button {
                    background: white;
                    width: 225px;
                    // arhan
                    // width: 300px;
                    height: 90px;
                    padding: 0;
                    margin: 0;
                    border-radius: 0;

                    .userName {
                        display: inline-block;
                        text-align: left;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0px;
                        color: #11153b;
                        text-transform: capitalize;
                        margin: 0px 10px;
                        opacity: 1;
                        font-family: ubuntu;
                    }

                    .dropArrow {
                        color: #11153b;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.dropProfile__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .profile__picture {
        margin-right: 10px;
        width: 52px;
        height: 52px;
    }

    .name {
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0px;
        color: #11153b;
        margin: 0;
        opacity: 1;
    }

    .deg {
        text-align: left;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0px;
        color: #11153b;
        margin: 0;
        opacity: 1;
    }

    .status {
        text-align: left;
        font-weight: normal;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0px;
        color: #a1a1a1;
        margin: 0;
        opacity: 1;
        margin-top: 6px;
        margin-bottom: 6px;
        max-width: 100%;
        overflow: hidden;
        white-space: normal;
    }
}

.profile__dropLink {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #000000;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 1;
    width: 100%;
    display: block;
    align-items: center;

    span {
        display: inline-block;

        &.icon {
            margin-right: 10px;
        }

        &.text {
            position: relative;
            bottom: 5px;
        }
    }
}

.profile__menu .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width: 100%;
    // max-width: 225px;
    // arhan
    max-width: 300px;
    right: 0;
    left: auto !important;
}

.profile__setting button[aria-expanded='true'] {
    background: #092133 !important;

    .userName,
    .dropArrow {
        color: white !important;
    }
}

.dashboard__sidebar {
    width: 180px;
    // height: 100vh;
    background: white;
    grid-area: dashboardSidebar;
    padding: 50px 8px;
    position: relative;

    .sidebarToggle {
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        width: 40px;
        height: 60px;
        background: #ffffff;
        box-shadow: 0px 5px 15px #00000014 !important;
        border-radius: 23px;
        margin-top: -90px;
        padding: 0;
        border: 0;
        cursor: pointer;
        opacity: 1;

        &:hover {
            background-color: $red !important;

            &>svg {

                & path {
                    fill: $white !important;
                }
            }
        }
    }

    .sidebar__list {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        .list__item {
            .item__link {
                display: flex;
                align-items: center;
                // justify-content: center;
                flex-wrap: nowrap;
                text-decoration: none !important;
                padding: 10px 15px;
                margin-bottom: 10px;

                &.sidebar-active {
                    background: #f7f8fa;
                    border-radius: 12px;
                    opacity: 1;

                    .link__icon {
                        svg {
                            fill: #d63548;

                            path {
                                fill: #d63548;
                            }
                        }
                    }

                    .link__text {
                        color: #d63548;
                    }
                }

                .link__icon {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                }

                .link__text {
                    text-align: center;
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: bold;
                    font-family: 'ubuntu';
                    letter-spacing: -0.32px;
                    color: #52626f;
                    text-transform: capitalize;
                    opacity: 1;
                }
            }
        }
    }
}

.dashboard__content {
    padding: 30px 50px;
    // grid-area: dashboardContent;
    margin-top: 90px;
    // display: none !important;
    min-height: calc(100vh - 90px);

    .content__header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .content__breadcrum {
            .breadcrum-stack {
                margin-bottom: 10px;

                a,
                p {
                    text-align: left;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.56px;
                    color: #344857;
                    opacity: 1;
                    font-family: ubuntu;
                }

                p {
                    color: #d63548;
                }
            }

            .content_pageTitle {
                text-align: left;
                font-weight: bold;
                font-size: 32px;
                line-height: 37px;
                letter-spacing: -0.64px;
                margin: 0px;
                color: #344857;
                opacity: 1;
            }
        }

        .search__form {
            background: #f1f4f9;
            border: 1px solid #3448571a;
            border-radius: 100px;
            box-shadow: none !important;
            padding-left: 15px;
            opacity: 1;

            input {
                &::placeholder {
                    text-align: left;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -0.56px;
                    color: #344857;
                    opacity: 0.5;
                }
            }
        }
    }
}

.card-wrapper-1 {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 20px;
    margin: 50px 0px;
    // arhan
    // display: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 32px;
    justify-content: center;


    .active {
        background: #000000;
    }

    .cardType__1 {
        flex-basis: calc(calc(100% - 60px) / 4);
        min-width: 284px;

        @media only screen and (max-width: 1600px) {
            min-width: 220px;
        }

        border: 1px solid #ffffff;
        border-radius: 16px;
        padding: 43px 40px;


        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


        .cardType__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .cardType__text {
                p {
                    text-align: left;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.56px;
                    color: #1a73e8;
                    text-transform: uppercase;
                    margin: 0px 0px 10px;
                    opacity: 1;
                }

                h3 {
                    text-align: left;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: -1.6px;
                    color: rgb(26, 115, 232);
                    margin: 0;
                    opacity: 1;
                }
            }
        }

        &:nth-child(1) {
            // background-color: rgb(26, 115, 232);
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;




            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;

                    & svg {

                        & path {
                            opacity: 1;
                            fill: #fff;
                            stroke: #fff;
                        }
                    }
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        // color: rgb(26, 115, 232);
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 1 hover and active state
        &:nth-child(1):hover,
        &:nth-child(1).active,
        &:nth-child(1).initial {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card1active.png');
            border: 1px solid rgb(26, 115, 232) !important;
            box-shadow: 1px 14px 41px -10px rgba(26, 115, 232, 0.3) !important;


            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(26, 115, 232);
                        stroke: rgb(26, 115, 232);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(26, 115, 232) !important;
                    }

                    & h3 {
                        color: rgb(26, 115, 232) !important;
                    }
                }
            }
        }

        &:nth-child(2) {
            // background-color: rgb(54, 63, 94) !important;
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;

            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        // color: rgb(26, 115, 232);
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 2 hover and active state
        &:nth-child(2):hover,
        &:nth-child(2).active {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card5active.png');
            border: 1px solid rgb(54, 63, 94) !important;
            box-shadow: 1px 14px 41px -10px rgba(54, 63, 94, 0.3) !important;

            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(54, 63, 94);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(54, 63, 94) !important;
                    }

                    & h3 {
                        color: rgb(54, 63, 94) !important;
                    }
                }
            }
        }

        &:nth-child(3) {
            // background-color: rgb(229, 68, 87) !important;
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;

            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        // color: rgb(26, 115, 232);
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 3 hover and active state
        &:nth-child(3):hover,
        &:nth-child(3).active {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card6active.png');
            border: 1px solid rgb(229, 68, 87) !important;
            box-shadow: 1px 14px 41px -10px rgba(229, 68, 87, 0.3) !important;

            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(229, 68, 87);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(229, 68, 87) !important;
                    }

                    & h3 {
                        color: rgb(229, 68, 87) !important;
                    }
                }
            }
        }


        &:nth-child(4) {
            // background-color: rgb(61, 184, 135) !important;
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;

            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        // color: rgb(26, 115, 232);
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 4 hover state
        &:nth-child(4):hover,
        &:nth-child(4).active {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card7active.png');
            border: 1px solid rgb(61, 184, 135) !important;
            box-shadow: 1px 14px 41px -10px rgba(61, 184, 135, 0.3) !important;

            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(61, 184, 135);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(61, 184, 135) !important;
                    }

                    & h3 {
                        color: rgb(61, 184, 135) !important;
                    }
                }
            }
        }


    }
}

.theme__toggle {
    .toggle__wrapper {
        width: 70px;
        height: 32px;
        border-radius: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5px;
        opacity: 1;

        button {
            padding: 0;
            margin: 0;
            border: 0;
            width: 30px;
            height: 25px;
            border-radius: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 1;

            &.lightMode {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            &.darkMode {
                svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.action__elements {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    // display: none;

    @media only screen and (max-width: 1340px) {
        justify-content: center;
    }

    @media only screen and (max-width: 1200px) {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .action__elementItem {
        margin-left: 30px;
        min-width: 215px;

        * {
            // width: max-content;

        }

        &#date-picker button {
            display: flex;
            align-items: center;
            padding: 8px 28px;

            & span.cal {
                top: unset;
            }
        }
    }
}

.TableHead {
    // background: #f7f8fa !important;
    background: #f7f8fa;
    display: table !important;

    th {
        background: transparent !important;
        text-align: right;
        font-weight: bold;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: 0px;
        color: #7b7b7b !important;
        text-transform: uppercase;
        border-bottom: 0px;
        opacity: 1;
        min-width: 147px;
        width: 147px;
        max-width: 147px;
        padding-left: 12px;

        &:nth-child(1) {
            width: 90px !important;
            min-width: unset;
        }

        a {
            display: inline-block;
            width: 46px;
            height: 46px;
            background: #f7f8fa;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;

            svg {
                width: 20px;
            }
        }

        .th_wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            white-space: nowrap;

            span {
                display: inline-block;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    font-size: 16px;
                    line-height: 16px;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
}

.TableBody {
    display: table !important;

    tr {
        // &:hover {
        //     box-shadow: 0px 10px 12px -4px rgb(255, 0, 0, 0.1);
        // }

        &.row-overdue:hover {
            box-shadow: 0px 10px 12px -4px rgba(54, 63, 94, 0.25);
        }

        &.row-pending:hover {
            box-shadow: 0px 10px 12px -4px rgb(229, 68, 87, 0.25);
        }

        &.row-completed:hover {
            box-shadow: 0px 10px 12px -4px rgb(61, 184, 135, 0.25);
        }

        td {
            text-align: left;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: -0.64px;
            color: #344857;
            opacity: 1;
            max-width: 147px;
            min-width: 147px;
            overflow: hidden !important;

            &:nth-child(4) {
                height: 84px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                border-bottom: 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;

            }

            &:last-child {
                width: 220px;
                max-width: 220px;
            }
        }

        th {
            a {
                display: inline-block;
                width: 46px;
                height: 46px;
                background: #f7f8fa;
                // border-radius: 50%;
                // arhan
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;

                svg {
                    width: 20px;
                }

                a {
                    margin-left: 0;
                }
            }
        }
    }
}

.tableRow__show {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .selectRow {
        margin-right: 10px;

        select {
            width: auto;
            height: 30px;
            background: #f1f4f9;
            border: 1px solid #3448571a;
            border-radius: 23px;
            padding: 0px 15px;
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.42px;
            color: #344857;
            opacity: 1;


            background: url('../../images/svg/downarrow.svg') no-repeat 92%;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            padding: 4px 20px;
        }
    }

    .outOfRow {
        text-align: left;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.42px;
        color: #555555;
        opacity: 1;
    }
}

.actionButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;


    .actionButton__item {
        span {
            cursor: pointer;
            display: inline-block;
            width: 46px;
            height: 46px;
            background: #f7f8fa;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;

            svg {
                width: 20px;
            }
        }
    }
}


.dateRangePicker {
    .daterangeInputwrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        background: #F1F4F9;
        border: 1px solid #3448571A;
        border-radius: 100px;
        width: 220px;
        height: 45px;
        overflow: hidden;
        position: relative;
        opacity: 1;
    }

    input {
        box-shadow: none !important;
        outline: none !important;
        border: 0px;
        text-align: left;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #344857;
        background: transparent !important;
        opacity: 1;

        &::placeholder {
            text-align: left;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0px;
            color: #344857;
            opacity: 1;
        }

        &:first-child {
            width: 90px;
            height: 45px;
            padding-left: 15px;
        }

        &:nth-child(2) {
            width: 130px;
            height: 45px;
            padding-left: 0px;
        }
    }

    .rangeSeprator {
        color: #344857;
    }

    .DateRangeIcon {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #344857;
    }
}


.tablePag {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: 1340px) {
        justify-content: center;
    }

    ul {
        li {

            &:first-child,
            &:last-child {
                button {
                    margin-right: 15px;
                    background: #ffffff;
                    border: 0.5px solid #70707080;
                }
            }
        }
    }

    button {
        border: 0;
        background: none;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0px;
        color: #787785;
        opacity: 1;
        min-width: 30px;
        height: 30px;

        &:hover,
        &:focus,
        &.Mui-selected {
            background: #787785;
            color: #ffffff;
            border: 0.5px solid #70707080;
            border-radius: 5px;
            opacity: 1;
        }
    }
}

.actionButtons {
    button.actionButton__item {
        background: transparent;
        border: none;
    }

    button.download-cdr {
        background-color: #eee;
        padding: 14px;
    }
}


// Styles for raise ticket input fields
.raise-ticket-input>div {
    margin-left: 0 !important;
    margin-bottom: 32px !important;
}

.raise-ticket-input>div:last-child {
    margin-bottom: 50px !important;
}

.raise-ticket-input input {
    color: #344857;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    font-family: 'ubuntu';
}

.raise-ticket-textarea {
    flex-basis: 100%;
    color: #344857;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    font-family: 'ubuntu';
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    border: 1px solid #0921334D;
    border-radius: 10px;
}

.raise-ticket-file-upload label {
    rotate: 45deg;
}

.raise-ticket-file-upload label svg path {
    fill: #344857;
}

form.raise-ticket-input .css-j0v3ur-MuiFormControl-root-MuiTextField-root {
    border: none;
}

form.raise-ticket-input .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border: 1px solid #eee;
}

// Billing details page styles

.billing-details-input {

    & .css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
        border-bottom: 0;
    }

    & .css-1w4w5el-MuiFormControl-root-MuiTextField-root {
        border: 0;
    }

    & h3 {
        border: 0;
    }
}

// Input styles inside
.billing-details-input .css-1x51dt5-MuiInputBase-input-MuiInput-input {
    color: $grey;
    font-weight: 700;
    font-size: 16px;
    font-family: 'ubuntu';
    line-height: 18px;
}


// Billing Details styles starts here
.bd-container {
    background-color: $billingDetailsBg;
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    // width: calc(100% - 300px);
    // margin-left: 300px;

    .content__header {
        padding-left: 62px;
    }

    .bd-inner-container {
        width: calc(100%);
        padding: 53px 62px;
    }

    .bd-single-container {
        min-height: 400px;

        &:nth-child(2) {
            padding-top: 40px;
        }
    }
}


// Invoice Bill styles starts here
.ib-title {
    text-transform: capitalize;
    text-align: right;
    max-width: unset;
    padding: 0;
}

.ib-subtitle {
    text-transform: uppercase;
    min-width: 72px;
}



// Change logout icon and text color
[data-testid="LogoutOutlinedIcon"],
.logout-text {
    color: #D63548;
    font-size: 14px;
}

[data-name="setting"]#setting path {
    fill: $black;
    opacity: 1;
}

.userinfo-dropdown:hover {
    color: unset;
}



// Account details styles 
.billing-details-input {

    & input {
        padding-bottom: 8px;
    }

    & legend {
        & span {
            display: none;
        }
    }
}

// input[type="search"]::-webkit-clear-button {
//     display: none;
// }


.bd-single-content {
    & .MuiAvatar-root.avatar-initials {
        // background-color: red !important;
        color: #fff !important;

        & svg {
            width: 56px;
            height: 56px;
        }
    }
}