#login-form.change-password-form {
    background: unset !important;
    max-width: 500px;
}

.form__inner {
    position: relative;

    & .account__form__body {
        padding-top: 0 !important;

        @media only screen and (max-width:1400px) {
            padding-top: 30px !important;
        }

        & .input-wrapper[data-margin=true] {
            margin-top: 3vh !important;
            margin-bottom: 3vh !important;
        }

        & .input-wrapper {
            position: relative !important;
            height: 70px;

            @media only screen and (max-width:1400px) {
                height: 50px;
            }

            margin: 0px 0px 23px !important;

            & .input-field {

                @media only screen and (max-width:1400px) {
                    height: 50px;
                }
            }

            & .MuiFormControl-root label {
                left: 70px;
                top: 7px;
                text-align: left;
                font-weight: normal;
                font-size: 18px;
                line-height: 18px;
                font-family: ubuntu;
                letter-spacing: 0px;
                color: #abaec5;
                opacity: 1;


                @media only screen and (max-width:1400px) {
                    top: -4px;
                }
            }


            & .MuiFormControl-root input {
                padding-left: 70px;
                padding-bottom: 15px;
                text-align: left;
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;
                font-family: ubuntu;
                letter-spacing: 0px;
                color: #11153b !important;
                opacity: 1;
                border-radius: 10px;

                @media only screen and (max-width:1400px) {
                    padding-bottom: 6px;
                    padding-top: 8px;
                }
            }
        }

        & .input-wrapper.submitBtn {
            margin-bottom: 0 !important;
            margin-top: 6vh !important;

            @media only screen and (max-width:1400px) {
                margin-top: 4vh !important;
            }

        }
    }


    & .MuiInputBase-root {
        margin-top: 30px;

        @media only screen and (max-width:1400px) {
            margin-top: 10px;
        }

        &::before {
            height: 70px;

            border: 1px solid #e8ebf3 !important;
            border-color: #00000080 !important;
            border-radius: 10px;
            transition: none !important;

            @media only screen and (max-width:1400px) {
                height: 50px;
            }

        }
    }


    .MuiInputLabel-shrink {
        top: 20px !important;

        @media only screen and (max-width: 1400px) {
            top: 4px !important;
        }

        color: $labelShrink !important;
    }

    .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
        content: unset;
    }

    a {
        color: #092133;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 24px;
        font-family: ubuntu;
        text-decoration: underline;
    }
}
