.box-help-text {
  font-family: "poppins", sans-serif;
  text-align: center;
  display: block;
  padding: 15px;
  margin: auto;
  color: #9ca6ad;
  width: 80%;
}

.no-pointers {
  pointer-events: none;
}

.checkIcon {
  position: absolute;
  z-index: 9;
  right: 6%;
  top: 40%;
}

.checkIcon svg path {
  fill: green !important;
}

.buidfix1 {
  width: 112px !important;
  padding-left: 20px !important;
  background: transparent !important;
  color: white !important;
  height: 35px;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: bold !important;
}

.buildfix2 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  flex-basis: 480px !important;
  background: transparent linear-gradient(297deg, #f57c52 0%, #d63548 100%) 0% 0% no-repeat padding-box !important;
  transition: all 300ms 0ms ease-in !important;
  border-radius: 35px !important;
  color: #fff !important;
}

.buildfix3 {
  padding: 0 !important;
  padding-bottom: 12vh !important;
  justify-content: center !important;
}

.removeBorder .MuiInputBase-root:before {
  border-bottom: none;
}

.removeBorder {
  pointer-events: none;
}

.MuiTableContainer-root.buildfix4 {
  background-color: unset;
  box-shadow: none;
}

.showDate {
  border: solid 1px #3448571a;
  border-radius: 20px;
  padding: 10px;
  background: #f1f4f9;
  font-family: ubuntu;
  color: #344857;
  font-weight: 500;
  cursor: pointer;
}

.cal {
  right: -11px;
  padding-left: 32px;
  position: relative;
  top: 2px !important;
}

.FilterItems {
  max-height: 128px;
  overflow: scroll;
}

.closeDate {
  svg {
    font-size: 19px;
    font-weight: 900;
  }

  position: absolute;
  top: 13px;
  cursor: pointer;
  right: 55px;
}

.ModalErrorIcon {
  svg {
    fill: #d63548;
    height: 203px;
    width: 90px;
  }

  margin-left: auto;
  margin-right: auto;
  max-width: unset;
}

.downlaodIP {
  opacity: 0.4;
  pointer-events: none;
}