ul.actionButtons {

    & button.actionButton__item {
        &:hover {

            & span {

                transition: all 200ms 0ms ease-in;
                background-color: $red;

                & svg {

                    & path {
                        transition: all 200ms 0ms ease-in;
                        fill: $white;

                    }
                }

            }
        }

    }

    & button.download-cdr {
        &:hover {
            background-color: #d63548;

            & svg {

                & path {
                    fill: $white;
                }
            }
        }
    }
}

.onlySVG {
    .overdue svg path {
        fill: rgb(54, 63, 94);
        stroke: rgb(54, 63, 94);
    }

    .overdue svg circle {
        stroke: rgb(54, 63, 94);
        fill: rgb(54, 63, 94);
    }


    .pending svg path {
        fill: rgb(229, 68, 87);
        stroke: rgb(229, 68, 87);
    }

    .pending svg circle {
        stroke: rgb(229, 68, 87);
        fill: rgb(229, 68, 87);
    }

    .completed svg path {
        fill: rgb(61, 184, 135);
        stroke: rgb(61, 184, 135);
    }

    .completed svg circle {
        stroke: rgb(61, 184, 135);
        fill: rgb(61, 184, 135);
    }
}


#basic-menu-customerle,
#basic-menu-entity,
#basic-menu,
#basic-menu-invoiceno,
#basic-menu-pono,
#basic-menu-status,
#basic-menu-amt {
    & ul {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: $white;
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 10px;
        box-shadow: 0px 5px 50px #00000026;

        & li {
            font-size: 14px;
            color: #717171;

            & svg {
                height: 20px;
            }

            &:last-child {
                color: #344857;
                opacity: 0.4;
                font-weight: bold;
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
        }
    }
}



// Specifically for status
#basic-menu-status {
    & ul {
        width: 250px;
        gap: 8px;

        & li {


            &:last-child {
                display: flex;
                gap: 16px;
            }
        }
    }
}

// Specifically for invoice amt
#basic-menu-status {
    & ul {

        & li {


            &:nth-child(2) {
                display: flex;
                gap: 16px;
            }

        }
    }
}

.inside_search {
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    background: #F7F8FA;
    height: 36px;
    padding: 10px 15px;

    &::placeholder {
        color: #344857;
        opacity: 0.5;
    }
}


.customer-le-menu {

    position: absolute;
    top: 0;
    right: -40px;
    z-index: 100;

    button#basic-button {
        background-color: transparent;
        padding: 0;
    }
}

.clear-filters {
    font-family: ubuntu;
    text-decoration: underline;
    text-transform: uppercase;
    color: $red;
    font-size: 12px;
    line-height: 21px;
    cursor: pointer;
}


thead th:first-of-type ul[role='menu'] li svg[data-testid="CheckBoxIcon"] path {
    fill: $red;
}

// Style tooltips
.MuiTooltip-popper[data-popper-placement*="bottom"] .css-ja5taz-MuiTooltip-tooltip {
    background-color: #fff;
    color: #092133;
    font-family: ubuntu;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border: 1px solid #00000033;
}