
form.raise-ticket-input.MuiBox-root.css-1hpqkki {
    & > div:nth-child(3), & > div:nth-child(4) {
        & > div {
            height: 58px;

            & #demo-simple-select {
                color: #222;
            }
        }
    }
}


.raise-ticket fieldset {
    border-color: #787785 !important;
    top: -2px;
}