.card-wrapper-1.user-management-cards {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 32px;
    justify-content: center;


    .active {
        background: #000000;
    }

    .cardType__1 {
        flex-basis: calc(calc(100% - 60px) / 4);
        min-width: 284px;

        @media only screen and (max-width: 1600px) {
            min-width: 220px;
        }

        border: 1px solid #ffffff;
        border-radius: 16px;
        padding: 43px 40px;


        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


        .cardType__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .cardType__text {
                p {
                    text-align: left;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.56px;
                    color: #1a73e8;
                    text-transform: uppercase;
                    margin: 0px 0px 10px;
                    opacity: 1;
                }

                h3 {
                    text-align: left;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: -1.6px;
                    color: rgb(26, 115, 232);
                    margin: 0;
                    opacity: 1;
                }
            }
        }

        &:nth-child(1) {
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;
            background-color: rgb(26, 115, 232);




            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;

                    & svg {

                        & path {

                            opacity: 1;
                            fill: #fff;
                        }
                    }
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 1 hover and active state
        &:nth-child(1):hover,
        &:nth-child(1).active,
        &:nth-child(1).initial {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card1active.png');
            border: 1px solid rgb(26, 115, 232) !important;
            box-shadow: 1px 14px 41px -10px rgba(26, 115, 232, 0.3) !important;


            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(26, 115, 232);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(26, 115, 232) !important;
                    }

                    & h3 {
                        color: rgb(26, 115, 232) !important;
                    }
                }
            }
        }

        &:nth-child(2) {
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;
            background-color: rgb(61, 184, 135);

            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;

                    & svg {

                        & path {

                            opacity: 1;
                            fill: #fff;
                        }
                    }
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 2 hover and active state
        &:nth-child(2):hover,
        &:nth-child(2).active {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card7active.png');
            border: 1px solid rgb(61, 184, 135) !important;
            box-shadow: 1px 14px 41px -10px rgba(61, 184, 135, 0.3) !important;

            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(61, 184, 135);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(61, 184, 135) !important;
                    }

                    & h3 {
                        color: rgb(61, 184, 135) !important;
                    }
                }
            }
        }

        &:nth-child(3) {
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;
            background-color: rgb(229, 68, 87);

            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;

                    & svg {

                        & path {

                            opacity: 1;
                            fill: #fff;
                        }
                    }
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 3 hover and active state
        &:nth-child(3):hover,
        &:nth-child(3).active {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card6active.png');
            border: 1px solid rgb(229, 68, 87) !important;
            box-shadow: 1px 14px 41px -10px rgba(229, 68, 87, 0.3) !important;

            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(229, 68, 87);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(229, 68, 87) !important;
                    }

                    & h3 {
                        color: rgb(229, 68, 87) !important;
                    }
                }
            }
        }


        &:nth-child(4) {
            background-image: url('../../../assets/images/card2active.png');
            padding-left: 0;
            padding-right: 0;
            background-color: rgb(54, 63, 94);

            & .cardType__inner {
                display: flex;
                justify-content: space-between;

                & .cardType__icon {
                    margin-left: 10%;

                    & svg {

                        & path {

                            opacity: 1;
                            fill: #fff;
                        }
                    }
                }

                & .cardType__text {

                    margin-right: 25%;

                    @media only screen and (max-width:1600px) {
                        margin-right: 10%;
                    }

                    & p {
                        color: #fff;
                    }

                    & h3 {
                        color: #fff;
                    }
                }
            }
        }


        // Card no. 4 hover state
        &:nth-child(4):hover,
        &:nth-child(4).active {
            background-color: #fff !important;
            background-image: url('../../../assets/images/card5active.png');
            border: 1px solid rgb(54, 63, 94) !important;
            box-shadow: 1px 14px 41px -10px rgba(54, 63, 94, 0.3) !important;

            & .cardType__inner {

                & .cardType__icon {

                    & svg path {
                        fill: rgb(54, 63, 94);
                    }
                }

                & .cardType__text {

                    & p {
                        color: rgb(54, 63, 94) !important;
                    }

                    & h3 {
                        color: rgb(54, 63, 94) !important;
                    }
                }
            }
        }


    }
}


// Single card styles
.single-card {
    width: 388px;
    height: 284px;
    background-color: #999;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 24px;
}
